html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

h1{
    font: size 1.4em;
}

h2{
    font-size: 1.6rem;
}
h3{
    font-size: 1.2rem;
}
h4{
    font-size: 1.4em;
}
h5{
    font-size: 1.8em;
}
h6{
    font-size: 1.5rem;
    font-style: italic;
}

body{
    height:100vh;
    width:100%;
    display:grid;
    place-content: left;
    background: #a1bda1;
    font-family: sans-serif;
    padding:0;
    margin:0;
}


#container{
    padding: 6px 0 5px 0;
    font-size: 18px;
    border-radius:5px;
    color:blue;
    



}